<ion-view title="Artist Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item ui-sref="tabsController.artistBiography">Biography</ion-item>
            <ion-item href="#" onclick="window.open('http://www.rollingstone.com/music', '_system', 'location=yes'); return false;">News</ion-item>
            <ion-item href="#" onclick="window.open('http://www.azlyrics.com/', '_system', 'location=yes'); return false;">Lyrics</ion-item>
            <ion-item href="#" onclick="window.open('http://www.amazon.com/', '_system', 'location=yes'); return false;">Purchase</ion-item>
        </ion-list>
    </ion-content>
</ion-view>