<ion-view title="Artist Name Search">
  <ion-content overflow-scroll="true" padding="true" class="has-header has-footer" ng-controller="NameController as nc">
    <form class="list">
      <label class="item item-input">
        <!--<span class="input-label">Input</span>-->
        <input type="text" placeholder="Type Artist Name" ng-model="nc.artist">

      </label>
      <br>
      <br>

      <button type="submit" ng-click="nc.artistSearch(nc.artist)">Search</button>
      <br/>
      <br/>
      <ul ng-repeat="item in nc.results">
        <li class="item item-thumbnail-left">
          <image class="rcImg" class="cover" src="{{item.images[1].url}}" ng-click="nc.songPlay(item.preview_url)" ng-dblclick="nc.songPause()"></image>

          <button class="buttonStyle ion-play button button-small" ng-click="nc.songPlay(item.preview_url)"></button>
          <button class="buttonStyle ion-stop button button-small" ng-click="nc.songPause()"></button>
          <br/>
          <div>
            {{"Artist: " + item.name}}</br>

            {{"Popularity: " + item.popularity}}</br>
          </div>
          <div class="item-button-right">
            <button class="button item-button-right" ui-sref="tabsController.artistHome">Go to Artist Page</button>
          </div>
        </li>
      </ul>
    </form>
  </ion-content>
</ion-view>
