<ion-view title="Artist Name Search">
  <ion-content overflow-scroll="true" padding="true" class="has-header has-footer" ng-controller="NameController as nc">
    <form class="list">
      <label class="item item-input">
        <!--<span class="input-label">Input</span>-->
        <input type="text" placeholder="Type Artist Name" ng-model="nc.artist">

      </label>
      <br>

      <button type="submit" ng-click="nc.artistSearch(nc.artist)">Search</button>

      <br/>

      <image src="{{nc.results}}"></image>
    </form>

    <h2 ui-sref="tabsController.artistHome">GO TO THE "{{nc.foundCap}}" PAGE.</h2>
    <br/>

    <h2>BAND TRACKS</h2>
    <ion-list>
      <ion-item href="#" ng-click="nc.songPlay(nc.track1)">{{nc.track1Name}}</ion-item>
    </ion-list>
    <button ng-click="nc.songPause()">Stop Track</button>
    <button ng-click="nc.lyricsPage(nc.track1Name)">Track Lyrics</button>
    <button ng-click="nc.amazonPage(nc.track1Name)">Amazon</button>
    <ion-list>
      <ion-item href="#" ng-click="nc.songPlay(nc.track2)">{{nc.track2Name}}</ion-item>
    </ion-list>
    <button ng-click="nc.songPause()">Stop Track</button>
    <button ng-click="nc.lyricsPage(nc.track2Name)">Track Lyrics</button>
    <button ng-click="nc.amazonPage(nc.track2Name)">Amazon</button>
    <ion-list>
      <ion-item href="#" ng-click="nc.songPlay(nc.track3)">{{nc.track3Name}}</ion-item>
    </ion-list>
    <button ng-click="nc.songPause()">Stop Track</button>
    <button ng-click="nc.lyricsPage(nc.track3Name)">Track Lyrics</button>
    <button ng-click="nc.amazonPage(nc.track3Name)">Amazon</button>

    <h2>BAND INFO</h2>
    <ion-list>
      <ion-item href="#" ng-click="nc.outsidePage(nc.news)">News</ion-item>
      <ion-item href="#" ng-click="nc.outsidePage(nc.bio)">Wiki</ion-item>
    </ion-list>

  </ion-content>
</ion-view>
