<ion-view title="Artist Name Search">
  <ion-content overflow-scroll="true" padding="true" class="has-header has-footer" ng-controller="NameController as nc">
    <form class="list">
      <label class="item item-input">
        <!--<span class="input-label">Input</span>-->
        <input type="text" placeholder="Type Artist Name" ng-model="nc.artist">

      </label>
      <br>

      <button type="submit" ng-click="nc.artistSearch(nc.artist)">Search</button>

      <br/>

      <image src="{{nc.results}}"></image>
    </form>

      <div ui-sref="tabsController.artistHome">Go to the {{nc.found}} page.</div>
    <br/>
    <a href="{{nc.news}}">News</a>
    <br/>
    <a href="{{nc.bio}}">Wiki</a>
    <br/>
    <a href="{{nc.track1}}" target="blank">{{nc.track1Name}}</a>
      <a href="{{nc.purchase1}}" target="blank">   Purchase Track</a><br/>
    <a href="{{nc.track2}}" target="blank">{{nc.track2Name}}</a>
      <a href="{{nc.purchase2}}" target="blank">   Purchase Track</a><br/>
    <a href="{{nc.track3}}" target="blank">{{nc.track3Name}}</a>
      <a href="{{nc.purchase3}}" target="blank">   Purchase Track</a>
<!--<div ng-click="nc.songPlay(nc.artist)">Testing Song</div>-->

    <!--<ion-list>-->
      <!--<ion-item ui-sref="tabsController.artistBiography">Biography</ion-item>-->
      <!--<ion-item href="#" onclick="window.open('http://www.billboard.com/search/site/{{nc.found}}?f[0]=ss_bb_type%3Aarticle'); return false;">News</ion-item>-->
      <!--<ion-item href="#" onclick="window.open('{{nc.news}}', '_system', 'location=yes'); return false;">News</ion-item>-->
      <!--<ion-item href="#" onclick="window.open('http://www.azlyrics.com/', '_system', 'location=yes'); return false;">Lyrics</ion-item>-->
      <!--<ion-item href="#" onclick="window.open('http://www.amazon.com/', '_system', 'location=yes'); return false;">Purchase</ion-item>-->
    <!--</ion-list>-->

  </ion-content>
</ion-view>
