<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item ui-sref="tabsController.popularMusiq">Popular Musiq</ion-item>
            <ion-item ui-sref="tabsController.newMusiq">New Musiq</ion-item>
            <ion-item ui-sref="tabsController.artistNameSearch">Artist Name Search</ion-item>
            <ion-item ui-sref="tabsController.songTitleSearch">Song Title Search</ion-item>
            <ion-item ui-sref="tabsController.musiqGenreSearch">Musiq Genre Search</ion-item>
        </ion-list>
        <ion-list></ion-list>
    </ion-content>
</ion-view>