<ion-view title="Album Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer" ng-controller="AlbumController as ac">
        <form class="list">
            <label class="item item-input">
                <!--<span class="input-label">Input</span>-->
                <input type="text" placeholder="Type Album Name" ng-model="ac.artist">
                <button type="submit" ng-click="ac.albumSearch(ac.artist)">Search</button>

            </label>
            <br/>
            <ul ng-repeat="item in ac.results">
                <li class="item item-thumbnail-left">
                    <image src="{{item.images[1].url}}"></image>
                    <br/>
                    <br/> <br/>
                    <div>
                        {{"Album: " + item.name}}</br>
                    </div>
                    <div class="item-button-right">
                        <button class="button item-button-right" ui-sref="tabsController.artistHome">Artist Page</button>
                    </div>
                </li>
            </ul>
        </form>
    </ion-content>
</ion-view>
