
<ion-view title="Artist Name Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer" ng-controller="RelatedArtistController as rc">
        <form class="list">
            <label class="item item-input">
                <!--<span class="input-label">Input</span>-->
                <input type="text" placeholder="Type Artist Name" ng-model="rc.artist">
                <button type="submit" ng-click="rc.artistSearch(rc.artist)">Search</button>

            </label>

            <ul class="list" ng-repeat="artist in rc.artistArray">
                <li class="item item-thumbnail-left" ui-sref="tabsController.artistHome">
                    <image class="rcImg" src="{{artist.images[1].url}}"></image>
                    <span class="rcArtistName">{{artist.name}}</span> <br>
                    {{"Popularity " + artist.popularity}} <br>
                    {{"Genre: " + artist.genres[0]}}
                </li>
                <!--<ul class="list" ng-repeat="artist in rc.artistArray">
                <li class="item" ui-sref="tabsController.artistHome">{{artist.name}}</li>
                <li class="item" ui-sref="tabsController.artistHome">{{"Popularity " + artist.popularity}}</li>
                <li class="item"><image src="{{artist.images[1].url}}" ui-sref="tabsController.artistHome"></image></li>
                <!--<p>{{rc.artistName}}</p>-->
                <!--<p>{{"Popularity: " + rc.artistPopularity}}</p>-->
            </ul>
                <p>{{rc.artistName}}</p>-->
                <!--<p>{{"Popularity: " + rc.artistPopularity}}</p>-->
            </ul>

            <br/>
           <!-- <a href="{{rc.found}}">Result</a>
            {{ rc.artistKey }}

            <image src="{{rc.results}}"></image>-->
        </form>
        <ion-list>
            <ion-item ui-sref="tabsController.artistHome">Artist 1</ion-item>
            <ion-item ui-sref="tabsController.artistHome">Artist 2</ion-item>
            <ion-item ui-sref="tabsController.artistHome">Artist 3</ion-item>


        </ion-list>
    </ion-content>
</ion-view>