
<ion-view title="Related Artist Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer" ng-controller="RelatedArtistController as rc">
        <form class="list">
            <label class="item item-input">
                <!--<span class="input-label">Input</span>-->
                <input type="text" placeholder="Type Artist Name" ng-model="rc.artist">
                <button class="hiddenBtn" type="submit"  ng-click="rc.artistSearch(rc.artist)">Search</button>

            </label>

            <ul class="list" ng-repeat="artist in rc.artistArray">
                <li class="item item-thumbnail-left" ui-sref="tabsController.artistHome" ng-click="rc.currentArtist(artist.name, artist.images[0].url)">
                    <img class="rcImg" ng-src="{{artist.images[1].url}}"/>
                    <span class="rcArtistName">{{artist.name}}</span> <br>
                    {{"Popularity " + artist.popularity}} <br>
                    {{"Genre: " + artist.genres[0]}}
                </li>


            </ul>
            <div ng-if="rc.artistArray && rc.artistArray.length === 0">
                <p>No artist found. Check for spelling errors and try typing the artist name again.</p>
            </div>

        </form>

    </ion-content>
</ion-view>