<ion-view title="Song Title Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item ui-sref="tabsController.artistHome">Song 1</ion-item>
            <ion-item ui-sref="tabsController.artistHome">Song 2</ion-item>
            <ion-item ui-sref="tabsController.artistHome">Song 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>